@use '../../../styles/cor_modelo.scss' as *;

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;         // Faz a imagem cobrir a tela sem distorcer
    background-repeat: no-repeat;   // Impede que a imagem se repita
    background-position: center;    // Centraliza a imagem na tela
  
    .logo {
        width: 180px;
        margin-bottom: 30px;
    }

    .login-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        background-color: $roxo-claro-background;
        border-radius: 12px;
        box-shadow: 0 4px 20px #00000028;
        min-width: 500px;

        input {
        padding: 10px;
        border-radius: 6px;
        border: 2px solid $azul-escuro-roxo;
        font-size: 16px;
        outline: none;
        transition: border-color 0.3s ease;

        &.error {
            border-color: red;
        }
        }

        .error-message {
        height: 20px;
        color: red;
        font-size: 14px;
        text-align: center;
        }

        button {
        padding: 10px;
        background-color: $azul-escuro-roxo;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        }
    }
}
  