<div class="login-container">
 <img src="logo.png" alt="GreenLog Logo" class="logo" />

 <div class="login-box">
      <input type="text" [(ngModel)]="credencial.email" [ngClass]="{ 'error': errorMessage && !credencial.email}" placeholder="Nome de usuário"/>
  <input type="password" [(ngModel)]="credencial.senha" [ngClass]="{ 'error': errorMessage && !credencial.senha}" placeholder="Senha"/>
  <div class="error-message">
   {{ errorMessage }}
  </div>
  <button (click)="login()">Entrar</button>
 </div>
</div>