section{
    padding: 20px;
    height: calc(100vh - 120px);
    background-image: url(../../../../public/heinz.png);
    background-size: cover;        /* preenche toda a tela */
    background-position: center;   /* centraliza */
    background-repeat: no-repeat;
}